.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 15px;
}

.messages{
    color: red;
}

.dialogsItems a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    color: yellow;
}

.dialogsItems a:hover{
    text-decoration: none;
    font-size: 20px;
    color: #b7612b;
    padding-left: 20px;
}